.div {
  /* margin-left: 0; */
  height: 20rem;
  width: 35rem;
  /* max */
  background-image: url("https://img.freepik.com/vector-premium/patron-galaxia-fondo-espacio-oscuro_739746-93.jpg");
  color: wheat;
  flex-direction: row-reverse;
  position: relative;
  border-radius: 0.4rem;
  border: solid rebeccapurple;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  border: groove;
  position: absolute;
  margin-top: 0.2em;
  margin-right: 0.2em;
  top: 0;
  right: 0;
  border-radius: 10px;

  transition: font-size 0.3s;
  font-size: 25px;
}
.close:hover {
  font-size: 30px;
  background-color: rgba(255, 0, 0, 0.719);
}
.fav {
  border: groove;
  position: absolute;
  margin-top: 0.2em;
  margin-left: 0.2em;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: font-size 0.3s;
  font-size: 20px;
}
.fav:hover {
  font-size: 25px;
  background-color: rgb(235, 94, 181);
}
.name {
  background-color: rgba(238, 226, 161, 0.76);
  border: solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 1em;
  bottom: 30vh;
  /* right: 1.8vw; */
  width: 10vw;

  transition: color 0.3s;
  transition: font-size 0.3s;
  border-radius: 12rem;
  /* justify-content: start; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}
.name:hover {
  color: rgb(149, 70, 202);
  font-size: 22px;
}

.name:active {
  color: blue;
}

.image {
  border-radius: 10rem;
  width: 40%;
  margin: 1rem;
}

/* .btn {
  background-color: rgb(243, 52, 253);
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 1vw;
  height: 3vh;
  cursor: pointer;
} */

.data {
  /* margin: 1em; */
  /* text-align:  ; */
  /* margin-right: 5em; */
  font-family: monospace;
  /* margin: 0; */
  /* position: absolute; */

  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* justify-content: start; */
  margin: 0;
  padding: 0;
}
