.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../background-card.png");
  width: 140px;
  color: wheat;
  position: relative;
  border-radius: 8px;
  border: 2px solid rebeccapurple;
  overflow: hidden;
  padding: 8px;
}

.imagen {
  text-align: center;
  position: relative;
}

.imagen__image {
  width: 80%;
  border-radius: 50%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto auto;
}
.imagen__images {
  overflow: hidden;
  width: 90%;
}
.imagen__name {
  padding: 0 4px;
  color: #fff;
  border-radius: 8px;
  background-color: rgba(238, 226, 161, 0.76);
  position: absolute;
  font-size: 0.75em;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__close {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 1em;
  color: #fff;
  z-index: 5;
}
.card__close:hover {
  /* background-color: rgba(255, 0, 0, 0.719); */
  cursor: pointer;
}
.card__fav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  z-index: 5;
}
.card__fav:hover {
  /* background-color: rgb(235, 94, 181); */
  cursor: pointer;
}

.card__name:hover {
  color: rgb(149, 70, 202);
  font-size: 22px;
}

.card__name:active {
  color: blue;
}

.text {
  width: 100%;
  text-align: center;
  /* padding: 0 8px; */
}

.card__span {
  display: block;
  font-size: 1em;
  /* text-align: start; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
