.main {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background: #ffffff20;
  backdrop-filter: blur(4px);
  inset: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: opacity 0.5s;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
}
.signin {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background: #; */
  background-color: #333333c0;
  border-radius: 8px;
  padding: 16px;
  animation: show 1s;
}
@keyframes show {
  0% {
    transform: translateY(-150vh);
  }
}
.signin__close {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 2em;
  color: red;
  line-height: 0.5em;
}

.signin__close:hover {
  cursor: pointer;
}
.signin__title {
  font-weight: 700;
  font-size: 2em;
  color: #ffffff;
  text-align: start;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* border-bottom: #fff 1px solid; */
  padding-bottom: 8px;
}
.form__title {
  font-size: 2.2em;
  color: #fff;
  background-color: #00ff6a4d;
  padding: 4px;
  border: 2px solid #00ff6a81;
  border-radius: 5px;
  margin: 24px 0;
}
.form__label {
  color: #fff;
  display: block;
  text-align: start;
}
.container_input {
  width: 100%;
}
.form__input {
  border: 2px solid #00ff6a91;
  /* width: 75%; */
  border-radius: 5px;
  padding: 10px;
  color: #ffffffe8;
  background-color: #333;
  /* text-align: center; */
  width: 90%;

  /* margin: 0 auto; */
}

.form__validation {
  color: #eb6868;
  display: block;
  /* margin: 10px; */
}
.form__submit {
  color: #fff;
  background-color: #00ff6a9f;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  font-size: 1em;
  font-weight: 500;
}
.form__submit:disabled {
  background-color: #b1b1b1;
  color: grey;
}
.form__submit:hover {
  /* background-color: #00ff6a4d; */
  /* width: 50%; */
}
.form__signin {
  color: #fff;
  background-color: #00ff6a9f;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  font-size: 1em;
  font-weight: 500;
  margin-top: 8px;
}
