.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  gap: 4px;
  padding-right: 4px;
}
.search__input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px 0 0 8px;
  border-right: 1px #494848 solid;
  font-size: 1em;
  color: #494848;
}
.search__input:focus-visible {
  outline: 1px solid #00ff6aad;
}
.search__button {
}

.icon_container {
  display: flex;
  align-items: center;
  /* padding: 3px; */
  height: 100%;
  background-color: #fff;
}
.icon__logo {
  width: 24px;
  height: 24px;
}
